/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	background-color: #e0f1ff;
	background-image:url(../images/background.png);
	background-position: center top;
	background-repeat: repeat-y;
}

table {
	max-width: 100%;
	display: table;
	margin: 5px auto;
	margin-right: auto;
	border: 0px;
}
td { 
	vertical-align: middle; 
	padding: 2px 15px 2px 5px; 
}
thead {
	background-color: #70A4D1;
	font-family: Justinian;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: bold;
}
thead td { border-right: solid 1px #FFFFFF; }

.container { background-color: #FFFFFF; }

.word-bank-item {
	display: inline;
}

.word-bank-box
	{
		background: #CB9278;
	  	border: 1px solid #CB9278;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	  	color: #000;
	  	font-weight: bold;
	  	font-family: Justinian;
		text-decoration: none;
	  	cursor: pointer;
		margin-top: 5px;
	  	margin-bottom: 5px;
	  	line-height: normal;
		text-align: center;
	  	padding: 4px 4px;
		text-transform: uppercase;
	}

.very-wide {
	width: 90%;
}

.footer {
	background-color: #CB9278;
	text-align: center;
	color: #ffffff;
	position: relative; 
	width: 960px; 
	margin: 0px auto; 
	padding: 5px 0px;
}

.pre-footer {
	background-color: #FFFFFF;
	text-align: center;
	color: #ffffff;
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	padding: 5px 0px 0px 0px;
}

.pre-header {
	text-align: center;
	color: #ffffff;
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	padding: 15px 0px;
}


.inside-center { text-align: center; }

.align-center {
	display: block;
   	margin-left: auto;
    	margin-right: auto;
	}

.nav { background-color: #CB9278; }

.justify { text-align: justify; }

.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
}

.inside-right {	text-align: right; }

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
	color: #CB4F16;
	font-weight: bold;
}

.section-number {
	font-size : 150%;
	font-weight : bold;
	color : #246FBB;
 }

.justinian {
	font-family: Justinian;
	text-transform: uppercase;
}

.column-border {
	border-style: solid;
	border-width: 52px 92px 45px 9px;
	-moz-border-image: url(../images/column-border.png) 52 92 45 9 stretch;
	-webkit-border-image: url(../images/column-border.png) 52 92 45 9 stretch;
	-o-border-image: url(../images/column-border.png) 52 92 45 9 stretch;
	border-image: url(../images/column-border.png) 52 92 45 9 fill stretch;
	margin: 5px 0px 10px 0px;
	}

.boxed-area {
	border: 1px solid #70A4D1;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	margin: 10px 5px 10px 0px;
	padding: 5px;
}

.bold { font-weight: bold; }
.small { font-size: 75%; }
.big { font-size: 150%; }
.glyph { font-family: Glyphs; font-weight: normal; }
.separated { border-bottom: dotted 1px #246FBB; }


	.button
	{
		background: #70A4D1;
	  	border: 1px solid #70A4D1;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	  	color: #000;
	  	display: inline-block;
	  	font-weight: bold;
	  	font-family: Justinian;
		text-decoration: none;
	  	cursor: pointer;
		margin-top: 5px;
	  	margin-bottom: 5px;
	  	line-height: normal;
		text-align: center;
	  	padding: 4px 4px;
		text-transform: uppercase;
	}
	.button:hover
	{
		background: #FBE7E3;
	  	border: 1px solid #FBE7E3;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	  	color: #000;
	  	display: inline-block;
	  	font-weight: bold;
	  	font-family: Justinian;
		text-decoration: none;
	  	cursor: pointer;
		margin-top: 5px;
	  	margin-bottom: 5px;
	  	line-height: normal;
		text-align: center;
	  	padding: 4px 4px;
		text-transform: uppercase;
	}

	.button:active
	{
		background: #000000;
	  	border: 1px solid #000000;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	  	color: #FBE7E3;
	  	display: inline-block;
	  	font-weight: bold;
	  	font-family: Justinian;
		text-decoration: none;
	  	cursor: pointer;
		margin-top: 5px;
	  	margin-bottom: 5px;
	  	line-height: normal;
		text-align: center;
	  	padding: 4px 4px;
		text-transform: uppercase;
	}
	.locked
	{
		background: #e0f1ff;
	  	border: 1px solid #70A4D1;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	  	color: #444;
	  	display: inline-block;
	  	font-weight: bold;
	  	font-family: Justinian;
		text-decoration: none;
		margin-top: 5px;
	  	margin-bottom: 5px;
		cursor: default;
	  	line-height: normal;
		text-align: center;
	  	padding: 4px 4px;
		text-transform: uppercase;
	}
	.completed
	{
		background: #CB9278;
	  	border: 1px solid #CB9278;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	  	color: #000;
	  	display: inline-block;
	  	font-weight: bold;
	  	font-family: Justinian;
		text-decoration: none;
	  	cursor: pointer;
		margin-top: 5px;
	  	margin-bottom: 5px;
	  	line-height: normal;
		text-align: center;
	  	padding: 4px 4px;
		text-transform: uppercase;
	}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	.footer { width: 768px; }
	.pre-footer { padding: 15px 0; width: 768px; }
	.pre-header { padding: 5px 0; width: 768px; }
	/* This provides a fix for certain column-border boxes that look squished and overlappy in this particular size */
	.tablet-fixed {
		padding: 5px;
		font-size: 90%; 	
		background: #70A4D1;
	  	border: 1px solid #70A4D1;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px; }	
	table, tbody, th, td, tr {
		display: block;
	}
	.separated { border-bottom: dotted 1px #246FBB; }
	thead { display: none; }
	table th[data-title]:before,
    	table td[data-title]:before {
        	content: attr(data-title) ":\00A0";
		color: #246FBB;
		font-weight: bold;
    	}
	table td:empty { display: none; }
	table img {
		display:none;
	}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	.footer { width: 300px; }
	.pre-footer { padding: 15px 0; width: 300px; }
	.pre-header { padding: 0 0; width: 300px; }
	table, tbody, th, td, tr {
		display: block;
	}
	tr { border-bottom: dotted 1px #246FBB; }
	thead { display: none; }
	table th[data-title]:before,
    	table td[data-title]:before {
        	content: attr(data-title) ":\00A0";
		color: #246FBB;
		font-weight: bold;
    	}
	table td:empty { display: none; }
	table img {
		display:none;
	}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	.footer { width: 420px; }
	.pre-footer { padding: 5px 0; width: 420px; }
	.pre-header { padding: 0 0; width: 420px; }
	table, tbody, th, td, tr {
		display: block;
	}
	tr { border-bottom: dotted 1px #246FBB; }
	thead { display: none; }
	table th[data-title]:before,
    	table td[data-title]:before {
        	content: attr(data-title) ":\00A0";
		color: #246FBB;
		font-weight: bold;
    	}
	table td:empty { display: none; }
	table img {
		display:none;
	}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	table, tbody, th, td, tr {
		display: block;
	}
	tr { border-bottom: dotted 1px #246FBB; }
	thead { display: none; }
	table th[data-title]:before,
    	table td[data-title]:before {
        	content: attr(data-title) ":\00A0";
		color: #246FBB;
		font-weight: bold;
    	}
	table td:empty { display: none; }
	table img {
		display:none;
	}
	}

.greek {
	font-family: Junicode;
}

.scansion {
	font-family: Junicode;
	color: #246FBB;
	font-weight: bold;
	font-size: 150%;
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
    font-family: 'Justinian';
    src: url('../fonts/justv2.eot');
    src: url('../fonts/justv2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/justv2.woff') format('woff'),
         url('../fonts/justv2.ttf') format('truetype'),
         url('../fonts/justv2.svg#justinian') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Glyphs';
    src: url('../fonts/glyphs.eot');
    src: url('../fonts/glyphs.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphs.woff') format('woff'),
         url('../fonts/glyphs.ttf') format('truetype'),
         url('../fonts/glyphs.svg#glyphs') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: Junicode;
	src: url(../fonts/Junicode.woff) format('woff');
}